.sprite {
  width: 80px;
  height: 24px;
}

.sprite-chun {
  background: url(../sprites/chun.png) no-repeat 0 0;
}

.sprite-karin {
  background: url(../sprites/karin.png) no-repeat 0 0;
}

.sprite-birdie {
  background: url(../sprites/birdie.png) no-repeat 0 0;
}

.sprite-bison {
  background: url(../sprites/bison.png) no-repeat 0 0;
}

.sprite-cammy {
  background: url(../sprites/cammy.png) no-repeat 0 0;
}

.sprite-dhalsim {
  background: url(../sprites/dhalsim.png) no-repeat 0 0;
}

.sprite-fang {
  background: url(../sprites/fang.png) no-repeat 0 0;
}

.sprite-ken {
  background: url(../sprites/ken.png) no-repeat 0 0;
}

.sprite-laura {
  background: url(../sprites/laura.png) no-repeat 0 0;
}

.sprite-mika {
  background: url(../sprites/mika.png) no-repeat 0 0;
}

.sprite-nash {
  background: url(../sprites/nash.png) no-repeat 0 0;
}

.sprite-necalli {
  background: url(../sprites/necalli.png) no-repeat 0 0;
}

.sprite-rashid {
  background: url(../sprites/rashid.png) no-repeat 0 0;
}

.sprite-ryu {
  background: url(../sprites/ryu.png) no-repeat 0 0;
}

.sprite-vega {
  background: url(../sprites/vega.png) no-repeat 0 0;
}

.sprite-zangief {
  background: url(../sprites/zangief.png) no-repeat 0 0;
}
